.logo{
    width:100px;
    height:50px;

}

.Button{
    width:100px;
    text-align:center;
    padding-left:100px;
}
.card{
    float:left;
    position:relative;
    width:200px;
    height:200px;
    margin-left:50px;

}
.as{
    margin-left:50px;
}