.card{
    text-align:center;
    margin-left:50px;
    margin-bottom:50px;
    color:white;
}

.button1{
    padding-right:10px;
    border-right:1px solid white;
}
.button2{
    padding-left:10px;
}

.search{
    display:table;
    margin-left:auto;
    margin-right:auto;
    width:450px;
}